S3method(AIC,wnpmle)
S3method(BIC,wnpmle)
S3method(coef,wnpmle)
S3method(logLik,wnpmle)
S3method(plot,wnpmle)
S3method(predict,wnpmle)
S3method(print,wnpmle)
S3method(print,summary.wnpmle)
S3method(summary,wnpmle)
S3method(vcov,wnpmle)
export(baseline)
export(bladder_prep)
export(plot_loglik)
export(readmission_prep)
export(wnpmle_fit)
importFrom(MASS,ginv)
importFrom(TMB,MakeADFun)
importFrom(grDevices,dev.off)
importFrom(grDevices,pdf)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,box)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,text)
importFrom(methods,is)
importFrom(stats,AIC)
importFrom(stats,BIC)
importFrom(stats,coef)
importFrom(stats,logLik)
importFrom(stats,model.matrix)
importFrom(stats,nlminb)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(stats,stepfun)
importFrom(stats,vcov)
importFrom(survival,Surv)
importFrom(survival,survfit)
