exportPattern("^[[:alpha:]]+")
S3method(print, wnpmle)
S3method(summary, wnpmle)
S3method(coef, wnpmle)
S3method(vcov, wnpmle)
S3method(predict, wnpmle)
S3method(plot, wnpmle)
S3method(logLik, wnpmle)
S3method(AIC, wnpmle)
S3method(BIC, wnpmle)
importFrom(TMB, MakeADFun)
importFrom(survival, Surv, survfit)
importFrom(methods, is)
importFrom(stats, model.matrix, nlminb, pnorm, qnorm, stepfun, AIC, BIC, coef, vcov, logLik)
importFrom(graphics, abline, axis, box, lines, mtext, par, plot, points)
importFrom(grDevices, dev.off, pdf)
importFrom(MASS, ginv)
